.section-wrap {
	background: #0D2031;
}
.section-page {
	position: relative;
	color: #fff;
	height: 600px;
}
.section-page #svg-1 {
	position: absolute;
	width: 100%;
	height: 100%;
}
.section-text {
	position: relative;
	z-index: 1;
	width: 1000px;
	margin: 0 auto;
	padding-top: 100px;
}