html * {
    box-sizing: border-box;
}
body {
    font-family: 'Helvetica Neue', 'Helvetica', tahoma, 'Hiragino Sans GB', 'PingFang SC', 'STHeitiSC-Light', 'Microsoft YaHei', Arial, sans-serif;
    padding-top: 60px;
    overflow-x: hidden;
}
.nav {
    background: #0D2031;
    position: fixed;
    top: 0;
    width: 100%;
}
.header {
    height: 60px;
    padding: 15px 0;
    margin: 0 50px;
}
/*logo*/
.sub-title {
    color: #eee;
    margin-left: 5px;
}
.logo-wrap {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.logo {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    background: url(../img/logo.png) no-repeat center;
    background-size: 32px 32px;
}
/*导航栏*/
.nav-tabs {
    float: right;
    margin-top: 5px;
}
.nav-tabs li{
    float: left;
    margin-left: 30px;
}
.nav-tabs li>a{
    font-size: 14px;
    color: #888;
    text-decoration: none;
    transition: all ease 300ms;
    fill:#666;
}
.nav-tabs li a.active{
    color:#fff;
}
.nav-tabs li:hover>a{
    color: #fff;
    fill: #fff;
}
.icon-github {
    vertical-align: middle;
    margin-right: 5px;
}


.doc {
    display: flex;
}
.doc .doc-content{
    flex: 1;
    padding-left: 80px;
    padding-right: 20px;
}

@media (min-width: 1300px) {
    .doc .doc-content {
        padding-right: 250px;
    }
}
.doc .doc-nav {
    position: fixed;
    top: 60px;
    left: 0;
    overflow: auto;
    padding: 20px 12px;
    padding-left: 50px;
    background: #fff;
    border-right: 1px solid #ddd;
    z-index: 11;
    transition: left linear 200ms;
}
.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    background: #0D2031;
    color:#fff;
}
.doc .doc-nav.open {
    left:0;
    box-shadow: 3px 0 3px #ddd;
}
@media (max-width: 640px) {
  .doc .doc-nav {
    width: 200px;
    left: -300px;
    top:50px;
  }
  .doc .doc-content {
    padding-left: 12px;
    margin-left: 0!important;
    max-width: 100%;
    padding-right: 12px;
  }
  .mobile-nav {
    display: block;
  }
  .nav {
    display: none;
  }
}
.doc .doc-nav a {
    text-decoration: none;
}
.content {
    padding-bottom: 50px;
}
.content h1 {
    line-height: 1.5;
    border-bottom: 1px solid #ddd;
}
.content svg {
    max-width:100%!important;
}
.content p *{
    word-break: break-all;
    white-space: normal;
}